
	<div id="views_control_group" class="control-group">
	<fieldset>
		<legend>Views to Display</legend>
	    <select id="views_list" multiple="multiple" name="views_list">
		<% for (var i = 0; i < available_views.length; i++) { %>
		   <% if( available_views[i].content.isVisible ) { %>
		       <% if( available_views[i].content.label ) { %>
		   <option value="<%- available_views[i].name %>" <% if( $.inArray(available_views[i].name, selected_views) >= 0 ){ %>selected<% } %>><%- available_views[i].name %> (<%- available_views[i].content.label %>)</option>
		       <% } else { %>
		   <option value="<%- available_views[i].name %>"><%- available_views[i].name %></option>
		       <% } %>
		   <% } %>
		<% } %>
		</select>
		<span class="help-inline"></span>
	</fieldset>
	</div>
		<!-- 
	<h3>Options</h3>
 -->
 	<div id="delay_control_group" class="control-group">
	  <fieldset>
	    <legend>Options</legend>
	    <label>Delay</label>
	    <input type="text" name="delay" placeholder="for example, 60, for a 60 second delay" value="<%- delay %>">
	    <span class="help-block">Defines how long (in seconds) to shoe each view before changing to the next one</span>
	    <span class="help-inline"></span>
	  </fieldset>
	</div>
		
	<div class="controls">
		<button id="start_show" class="btn btn-primary pull-right">Start show</button>
	</div>