<div id="help-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Help</h3>
  </div>
  <div class="modal-body">
    <p id="help-dialog-text"></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

Select the views and configure how you want to display the views below.
When the show is started, the selected pages will be displayed for the amount of time specified automatically.

	<div id="views_control_group" class="control-group">
	<fieldset>
		<legend>Views to Display</legend>
	    <select id="views_list" multiple="multiple" name="views_list">
		<% for (var i = 0; i < available_views.length; i++) { %>
		   <% if( available_views[i].content.isVisible && (available_views[i].acl.sharing == "global" || available_views[i].acl.sharing == "system") ) { %>
		       <% if( available_views[i].content.label ) { %>
		   <option value="<%- available_views[i].name %>" <% if( $.inArray(available_views[i].name, selected_views) >= 0 ){ %>selected<% } %>><%- available_views[i].name %> (<%- available_views[i].content.label %>)</option>
		       <% } else { %>
		   <option value="<%- available_views[i].name %>"><%- available_views[i].name %></option>
		       <% } %>
		   <% } %>
		<% } %>
		</select>
		<span class="help-inline"></span>
		<a id="help_dashboards_list" href="#">Why aren't some dashboards listed here?</a>
	</fieldset>
	</div>
		<!-- 
	<h3>Options</h3>
 -->
 	<legend>Options</legend>
 	<div id="delay_control_group" class="control-group">
	  <fieldset>
	    <label>Interval</label>
	    <input type="text" name="delay" placeholder="for example, 60, for a 60 second interval" value="<%- delay %>">
	    <span class="help-block">Defines how long (in seconds) to show each view before changing to the next one</span>
	    <span class="help-inline"></span>
	  </fieldset>
	</div>
	
	<div id="hide_chrome_control_group" class="control-group">
	  <fieldset>
	    <input id="hide_chrome" type="checkbox" name="hide_chrome" <% if(hide_chrome){ %>checked<% } %>>
	    <label for="hide_chrome">Hide controls and footer</label>
	    <span class="help-block">Hides controls and other content that are not necessary for viewing content read-only (simplifies the views and makes them fit smaller screens)</span>
	    <span class="help-inline"></span>
	  </fieldset>
	</div>
		
	<div class="controls">
		<button id="start_show" class="btn btn-primary pull-right">Start show</button>
		<button id="stop_show" class="hide btn btn-stop pull-right">Stop show</button>
	</div>