
#views_list{
	height: 320px;	
}

input[type="checkbox"]{
	float: left;
	margin-right: 6px;
	margin-top: 2px;
}

.bootstrap-duallistbox-container .label-warning{
	border-radius: .25em;
	background-color: #f7902b;
	line-height: 1.3;
	color: #fff;
	font-size: 75%;
	text-transform: none;
}