
#views_list{
	height: 320px;	
}

input[type="checkbox"]{
	float: left;
	margin-right: 6px;
	margin-top: 2px;
}

.bootstrap-duallistbox-container .label-warning{
	border-radius: .25em;
	background-color: #f7902b;
	line-height: 1.3;
	color: #fff;
	font-size: 75%;
	text-transform: none;
}

.running-icon{
	display: inline-block;
	margin-bottom: -4px;
	margin-right: 1px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAPQAAMk6J////8tEMuGTic9RQO/HwuSflv///+u6s/bi39p5bNZrXfnu7d2Fef36+vLU0OitpQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAAFdyAgAgIJIeWoAkRCCMdBkKtIHIngyMKsErPBYbADpkSCwhDmQCBethRB6Vj4kFCkQPG4IlWDgrNRIwnO4UKBXDufzQvDMaoSDBgFb886MiQadgNABAokfCwzBA8LCg0Egl8jAggGAA1kBIA1BAYzlyILczULC2UhACH5BAkKAAAALAAAAAAQABAAAAV2ICACAmlAZTmOREEIyUEQjLKKxPHADhEvqxlgcGgkGI1DYSVAIAWMx+lwSKkICJ0QsHi9RgKBwnVTiRQQgwF4I4UFDQQEwi6/3YSGWRRmjhEETAJfIgMFCnAKM0KDV4EEEAQLiF18TAYNXDaSe3x6mjidN1s3IQAh+QQJCgAAACwAAAAAEAAQAAAFeCAgAgLZDGU5jgRECEUiCI+yioSDwDJyLKsXoHFQxBSHAoAAFBhqtMJg8DgQBgfrEsJAEAg4YhZIEiwgKtHiMBgtpg3wbUZXGO7kOb1MUKRFMysCChAoggJCIg0GC2aNe4gqQldfL4l/Ag1AXySJgn5LcoE3QXI3IQAh+QQJCgAAACwAAAAAEAAQAAAFdiAgAgLZNGU5joQhCEjxIssqEo8bC9BRjy9Ag7GILQ4QEoE0gBAEBcOpcBA0DoxSK/e8LRIHn+i1cK0IyKdg0VAoljYIg+GgnRrwVS/8IAkICyosBIQpBAMoKy9dImxPhS+GKkFrkX+TigtLlIyKXUF+NjagNiEAIfkECQoAAAAsAAAAABAAEAAABWwgIAICaRhlOY4EIgjH8R7LKhKHGwsMvb4AAy3WODBIBBKCsYA9TjuhDNDKEVSERezQEL0WrhXucRUQGuik7bFlngzqVW9LMl9XWvLdjFaJtDFqZ1cEZUB0dUgvL3dgP4WJZn4jkomWNpSTIyEAIfkECQoAAAAsAAAAABAAEAAABX4gIAICuSxlOY6CIgiD8RrEKgqGOwxwUrMlAoSwIzAGpJpgoSDAGifDY5kopBYDlEpAQBwevxfBtRIUGi8xwWkDNBCIwmC9Vq0aiQQDQuK+VgQPDXV9hCJjBwcFYU5pLwwHXQcMKSmNLQcIAExlbH8JBwttaX0ABAcNbWVbKyEAIfkECQoAAAAsAAAAABAAEAAABXkgIAICSRBlOY7CIghN8zbEKsKoIjdFzZaEgUBHKChMJtRwcWpAWoWnifm6ESAMhO8lQK0EEAV3rFopIBCEcGwDKAqPh4HUrY4ICHH1dSoTFgcHUiZjBhAJB2AHDykpKAwHAwdzf19KkASIPl9cDgcnDkdtNwiMJCshACH5BAkKAAAALAAAAAAQABAAAAV3ICACAkkQZTmOAiosiyAoxCq+KPxCNVsSMRgBsiClWrLTSWFoIQZHl6pleBh6suxKMIhlvzbAwkBWfFWrBQTxNLq2RG2yhSUkDs2b63AYDAoJXAcFRwADeAkJDX0AQCsEfAQMDAIPBz0rCgcxky0JRWE1AmwpKyEAIfkECQoAAAAsAAAAABAAEAAABXkgIAICKZzkqJ4nQZxLqZKv4NqNLKK2/Q4Ek4lFXChsg5ypJjs1II3gEDUSRInEGYAw6B6zM4JhrDAtEosVkLUtHA7RHaHAGJQEjsODcEg0FBAFVgkQJQ1pAwcDDw8KcFtSInwJAowCCA6RIwqZAgkPNgVpWndjdyohACH5BAkKAAAALAAAAAAQABAAAAV5ICACAimc5KieLEuUKvm2xAKLqDCfC2GaO9eL0LABWTiBYmA06W6kHgvCqEJiAIJiu3gcvgUsscHUERm+kaCxyxa+zRPk0SgJEgfIvbAdIAQLCAYlCj4DBw0IBQsMCjIqBAcPAooCBg9pKgsJLwUFOhCZKyQDA3YqIQAh+QQJCgAAACwAAAAAEAAQAAAFdSAgAgIpnOSonmxbqiThCrJKEHFbo8JxDDOZYFFb+A41E4H4OhkOipXwBElYITDAckFEOBgMQ3arkMkUBdxIUGZpEb7kaQBRlASPg0FQQHAbEEMGDSVEAA1QBhAED1E0NgwFAooCDWljaQIQCE5qMHcNhCkjIQAh+QQJCgAAACwAAAAAEAAQAAAFeSAgAgIpnOSoLgxxvqgKLEcCC65KEAByKK8cSpA4DAiHQ/DkKhGKh4ZCtCyZGo6F6iYYPAqFgYy02xkSaLEMV34tELyRYNEsCQyHlvWkGCzsPgMCEAY7Cg04Uk48LAsDhRA8MVQPEF0GAgqYYwSRlycNcWskCkApIyEAOwAAAAAAAAAAAA==);
}

.btn-stop{
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #c93a27;
	background-image: -moz-linear-gradient(top, #c93a27, #af3321);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c93a27), to(#af3321));
	background-image: -webkit-linear-gradient(top, #c93a27, #af3321);
	background-image: -o-linear-gradient(top, #c93a27, #af3321);
	background-image: linear-gradient(to bottom, #c93a27, #af3321);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc93a27', endColorstr='#ffaf3321', GradientType=0);
	background-color: #c93a27;
	border: 1px solid #914e1e;
	border-bottom-color: #914e1e;
	border-top-color: #914e1e;
	color: #fff;
	-webkit-box-shadow: inset 0 1px 0 #c93a27;
	-moz-box-shadow: inset 0 1px 0 #c93a27;
	box-shadow: inset 0 1px 0 #c93a27;
}


.btn-stop:hover,
.btn-stop:focus,
.btn-stop:active,
.btn-stop.active,
.btn-stop.disabled,
.btn-stop[disabled] {
	background-color: #e60d10;
	background-image: -moz-linear-gradient(top, #e60d10, #c9140f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e60d10), to(#c9140f));
	background-image: -webkit-linear-gradient(top, #e60d10, #c9140f);
	background-image: -o-linear-gradient(top, #e60d10, #c9140f);
	background-image: linear-gradient(to bottom, #e60d10, #c9140f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe60d10', endColorstr='#ffc9140f', GradientType=0);
	background-color: #e60d10;
	border: 1px solid #914e1e;
	border-bottom-color: #914e1e;
	border-top-color: #914e1e;
	color: #fff;
	-webkit-box-shadow: inset 0 1px 0 #e60d10;
	-moz-box-shadow: inset 0 1px 0 #e60d10;
	box-shadow: inset 0 1px 0 #e60d10;
}

#stop_show:hover{
	background-color: #c93a27;
}

/*
.btn-stop:active,
.btn-stop.active {
  background-color: #942a25 \9;
}
*/

#showframe, #loadingframe, #overlayframe{
	width: 100%;
	border: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#loadingframe{
	height:1024px;
	z-index: 100;
}

#overlayframe{
	height:164px;
	z-index: 101;
	top: -100px;
}

#overlay-controls{
	background-color: white;
	border-radius: 5px;
	border: 1px solid rgb(158, 158, 158);
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
 	position: fixed;
 	top: -100px;
  	left: 50%;
  	margin-left: -125px;
  	margin-top: 20px;
  	z-index: 101;
  	padding: 18px;
  	display: none;
}

#overlay-controls > button{
	margin-left: 12px;
}

.inline-controls{
	float:left;
}

.saved-slideshow-controls{
	padding-top: 25px;
}

#link, #autoplay-link{
	width: 370px;
	background-color: white;
}

#show_links{
	margin-left: 8px;
}

#message_outer_holder{
	display: inline-block;
}

#message_holder > .alert{
	margin-bottom: 0px;
	margin-top: 12px;
}